# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/kahoot-clone-frontend/node_modules
/kahoot_frontend/.pnp
/kahoot_frontend/.pnp.js

# testing
/kahoot_frontend/coverage

# next.js
/kahoot_frontend/.next/
/kahoot_frontend/out/

# production
/kahoot_frontend/build

# misc
/kahoot_frontend.DS_Store
/kahoot_frontend*.pem

# debug
/kahoot_frontendnpm-debug.log*
/kahoot_frontendyarn-debug.log*
/kahoot_frontendyarn-error.log*
/kahoot_frontend.pnpm-debug.log*

# local env files
/kahoot_frontend.env*.local

# vercel
/kahoot_frontend.vercel
