.darkBackground {
  background-color: rgb(37, 7, 107);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.outerContainer {
  background-color: white;
  border-radius: 4px;
  display: grid;
  width: 600px;
  grid-template-columns:
    minmax(200px, 1fr)
    350px;
}

.playHeader {
  padding: 10px;
  font-size: 24px;
  display: grid;
  place-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.pinHeader {
  padding: 10px;
}

.pinHeader p {
  margin: 0;
}

.pinHeader p:nth-child(1) {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: bold;
}

.pinHeader p:nth-child(2) {
  font-size: clamp(3rem, 4vw, 2.5rem);
  font-weight: 900;
  line-height: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.lobby {
  background-color: rgb(70, 23, 143);
  flex: 1 0 0;
  color: white;
}

.lobbyHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.startScreenContainer {
  display: flex;
  flex-direction: column;
}

.lobbyPeople {
  background-color: rgb(31, 10, 64);
  font-size: 24px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.lobbyPeople svg {
  width: 32px;
  height: 32px;
}

.lobbyPeople span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 6px;
  margin-right: 12px;
}

.lobbyUserContainer {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse wrap;
}

.lobbyUser {
  color: white;
  padding: 4px 8px 4px 8px;
  background-color: rgba(0, 0, 0, 0.425);
  font-size: 16px;
}
