.card {
  width: 408px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
  padding: 24px;
}

.card form {
  display: flex;
  flex-direction: column;
}

.card input {
  height: 44px;
}

.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: calc(100vh - 56px);
}
